.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 72px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .page {
    color: var(--basic-text);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 128%;
    background-color: #FAFAFA;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 14px;
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo--normal {
  font-style: normal;
}

.logo__icon {
  margin-left: 4px;
}

.navigation__item {
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon {
  stroke: black;
  width: 100%;
  height: 100%;
  width: 28px;
  height: 28px;
}

.button-menu {
  background-color: transparent;
  border: none;
  stroke: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.button__close {
  position: absolute;
  display: none;
  stroke: white;
}
.button__close--active {
  display: block;
}

.menu--content {
  width: 220px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1E1823;
  color: white;
  height: 100vh;
}
.menu--content--active {
  display: block;
}

header .navigation {
  margin-top: 136px;
  margin-left: 30px;
}

header .social {
  margin-top: auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
}

:root {
  --basic-text: rgba(17, 17, 17, 1);
  --secondary-dark-text:rgba(17, 17, 17, 0.7);
  --secondary-white-text: rgba(255, 255, 255, 0.7);
  --first-white-text:rgba(255, 255, 255, 1);
  --basic-title: rgba(255, 255, 255, 1);
  --accent-text: rgba(253, 146, 34, 1);
  --basic-background: rgba(250, 250, 250, 1);
  --secondary-background:rgba(30, 24, 35, 1);
}

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
  list-style: none;
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
}

.hero {
  color: var(--first-white-text);
  max-width: 335px;
  height: 620px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(rgba(17, 17, 17, 0.4))), url(../image/jpg/chocolate-hero.jpg);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../image/jpg/chocolate-hero.jpg);
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
}

.hero__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.button--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__form {
  height: 41px;
  background-color: var(--accent-text);
  color: currentColor;
  border-radius: 100px;
  font-weight: 600;
  line-height: 121%;
  border: none;
}
.button__form--buy {
  margin-right: 14px;
  min-width: 120px;
}
.button__form--how {
  opacity: 1;
  min-width: 159px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
}

.pointer {
  font-size: 12px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.03em;
}

.pointer__icon {
  margin-left: 12px;
  width: 28px;
  height: 28px;
}

.pointer--container {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preference {
  background-color: rgb(30, 24, 35);
}
.preference--container {
  padding-top: 20px;
  padding-bottom: 36px;
}

.preference-general {
  display: none;
}

.preference-list {
  color: var(--first-white-text);
}

.preference-text {
  color: rgba(255, 255, 255, 0.7);
  padding-right: 28px;
  letter-spacing: -0.02em;
}

.preference-icon {
  width: 64px;
  height: 64px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}

.preference-title {
  margin-bottom: 18px;
}

.preference-item:not(:last-child) {
  margin-bottom: 20px;
}

.taste__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 24px;
  width: 283px;
}
.taste__title--accent {
  color: var(--accent-text);
}

.taste__text {
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.taste__item {
  position: relative;
}
.taste__item:not(:last-child) {
  margin-bottom: 20px;
}

.taste__name {
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--basic-title);
  position: absolute;
  bottom: 28px;
  left: 28px;
}
.taste__name--white {
  color: var(--basic-text);
}

.made__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.made__title--accent {
  color: var(--accent-text);
}

.made__video {
  border-radius: 15px;
  margin-bottom: 20px;
}

.made__promotion {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  padding-bottom: 20px;
}

.made__text {
  margin-left: 16px;
  position: relative;
  letter-spacing: -0.02em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.made__text::before {
  position: absolute;
  left: -16px;
  top: 5px;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #4C4C4C;
  border: 1px solid #ECEDED;
  border-radius: 4px;
  margin-right: 8px;
}

.made__card {
  background-color: white;
  padding: 20px 14px;
  border-radius: 15px;
}

.made__item:not(:last-child) {
  padding-bottom: 18px;
}

.products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-title--accent {
  color: var(--accent-text);
}

.products__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products__text {
  color: var(--secondary-dark-text);
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products__price {
  font-weight: 600;
  line-height: 121%;
  border-radius: 100px;
  padding: 8px 20px;
  background: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products__item {
  display: none;
  background-color: #FFFFFF;
  padding: 32px 52px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  margin-bottom: 20px;
}
.products__item--active {
  display: block;
}

.products__images {
  margin-bottom: 8px;
}

.products__description {
  text-align: center;
}

.products__title {
  text-align: center;
  margin-bottom: 32px;
}
.products__title--accent {
  color: var(--accent-text);
}

.products__pilot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__button {
  display: block;
  background: rgba(17, 17, 17, 0.1);
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  border: none;
}
.products__button--active {
  width: 28px;
  background: rgb(253, 146, 34);
}
.products__button:not(:first-child) {
  margin-left: 13px;
}

.top__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.top__title--accent {
  color: var(--accent-text);
}

.top__text {
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  padding-right: 29px;
}

.top__image {
  border-radius: 15px;
}
.top__image--carmel {
  display: none;
}
.top__image--dark {
  display: none;
}
.top__image--mobile {
  margin-bottom: 20px;
}

.top__button {
  display: block;
  font-weight: 600;
  line-height: 121%;
  color: var(--first-white-text);
  background-color: var(--accent-text);
  border-radius: 100px;
  border: none;
  min-width: 120px;
  padding: 12px 28px;
  margin: auto;
}

.top__list {
  margin-bottom: 20px;
}

.review__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 74px;
}
.review__title--accent {
  color: var(--accent-text);
}

.review__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 24px;
}

.review__text {
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondary-dark-text);
}

.review__buttan {
  display: block;
  font-weight: 600;
  line-height: 121%;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #FD9222;
  border-radius: 100px;
  padding: 12px 28px;
  margin: auto;
  margin-top: 32px;
}

.review__image {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review__item {
  display: none;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1);
  -webkit-box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
          box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  padding: 56px 18px 42px 18px;
  margin-bottom: 20px;
}
.review__item--active {
  display: block;
}

.review__pilot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__button {
  display: block;
  background: rgba(17, 17, 17, 0.1);
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  border: none;
}
.review__button--active {
  width: 28px;
  background: rgb(253, 146, 34);
}
.review__button:not(:first-child) {
  margin-left: 13px;
}

.subscribe {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../image/jpg/subcribe.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/jpg/subcribe.jpg);
  color: var(--first-white-text);
  padding-top: 62px;
  padding-bottom: 63px;
}

.container--nobottom {
  margin-bottom: 0;
}

.subscribe__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding: 0 17.5px;
}

.subscribe__text {
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 129%;
  padding: 0 4.5px;
  margin-bottom: 24px;
}

.subscribe__button {
  display: block;
  font-weight: 600;
  line-height: 121%;
  color: currentColor;
  background-color: var(--accent-text);
  min-width: 128px;
  border-radius: 100px;
  border: none;
  padding: 12px 28px;
  margin: auto;
}

.footer {
  color: var(--first-white-text);
  background-color: var(--secondary-background);
  padding: 32px 0;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.footer__title--accent {
  color: var(--accent-text);
}

.contact__link {
  letter-spacing: -0.02em;
}

.container__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
}

.contact {
  margin-right: 113px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  margin-top: 32px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 18px;
}

.footer--container {
  margin-bottom: 0;
}

.form-buy {
  width: 311px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #FAFAFA;
  border-radius: 15px;
}

.form-buy__title {
  display: block;
  margin-bottom: 32px;
  text-align: center;
}
.form-buy__title--accent {
  color: var(--accent-text);
}

.form-buy__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

.form-buy__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-buy__newbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 263px;
  height: 85px;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.form-buy__checkbox:checked + .form-buy__newbox {
  border-color: var(--accent-text);
}

.form-buy__massa {
  height: 29px;
  margin: auto 0;
  padding: 6px 16px;
  background: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
}

.form-buy__field label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 8px;
}

.form-buy__item {
  margin-bottom: 8px;
}

.form-buy__field {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-buy__input {
  margin: 0;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  -webkit-filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
          filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}
.form-buy__input:first-child {
  margin-bottom: 14px;
}
.form-buy__input[name=name] {
  margin-bottom: 14px;
}
.form-buy__input--phone {
  padding-left: 106px;
}

.form-buy__field input:first-child {
  margin-bottom: 14px;
}

textarea {
  resize: none;
  height: 91px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  -webkit-filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
          filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.uk-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34px;
  left: 18px;
  -webkit-box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
  width: 74px;
  padding: 4px 8px 4px 0;
}
.uk-date__flag {
  width: 24px;
  height: 18px;
  margin-right: 8px;
}
.uk-date__number {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  font-style: normal;
  color: #000000;
}

.form-buy__submit {
  padding: 12px 28px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.mastercard {
  position: absolute;
  right: 19px;
  top: 38px;
}/*# sourceMappingURL=main.css.map */