.logo {
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.03em;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}
.logo--normal {
  font-style: normal;
}

.navigation__item {
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --basic-text: rgba(17, 17, 17, 1);
  --secondary-dark-text:rgba(17, 17, 17, 0.7);
  --secondary-white-text: rgba(255, 255, 255, 0.7);
  --first-white-text:rgba(255, 255, 255, 1);
  --basic-title: rgba(255, 255, 255, 1);
  --accent-text: rgba(253, 146, 34, 1);
  --basic-background: rgba(250, 250, 250, 1);
  --secondary-background:rgba(30, 24, 35, 1);
}

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
  list-style: none;
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
}

.hero {
  color: var(--first-white-text);
  max-width: 335px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(rgba(17, 17, 17, 0.4))), url(../image/jpg/chocolate-hero.jpg);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../image/jpg/chocolate-hero.jpg);
  border-radius: 30px;
}

.hero__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.button__form {
  min-width: 120px;
  height: 41px;
  background-color: var(--accent-text);
  color: currentColor;
  border-radius: 100px;
  font-weight: 600;
  line-height: 121%;
  border: none;
}

.pointer {
  font-size: 12px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.03em;
}

.preference {
  background-color: rgb(30, 24, 35);
}

.preference-general {
  display: none;
}

.preference-list {
  color: var(--first-white-text);
}

.preference-text {
  color: rgba(255, 255, 255, 0.7);
}

.preference-icon {
  width: 64px;
  height: 64px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}

.taste__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.taste__title--accent {
  color: var(--accent-text);
}

.taste__text {
  text-align: center;
  letter-spacing: -0.02em;
}

.taste__item {
  padding: 28px 55px 28px 56px;
  border-radius: 15px;
}
.taste__item--accent {
  background-color: var(--accent-text);
}
.taste__item--white {
  border: 1px solid #FD9222;
}
.taste__item--dark {
  background-color: var(--secondary-background);
}

.taste__image {
  background-color: currentColor;
}

.taste__name {
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--basic-title);
  margin-top: 25px;
}
.taste__name--white {
  color: var(--basic-text);
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page {
  color: var(--basic-text);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
}

.made__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.made__title--accent {
  color: var(--accent-text);
}

.made__video {
  border-radius: 15px;
}

.made__promotion {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}

.made__text {
  letter-spacing: -0.02em;
}
.made__text::before {
  display: block;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: #4C4C4C;
  border: 1px solid #ECEDED;
  border-radius: 8px;
}

.made__card {
  background-color: white;
}

.products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-title--accent {
  color: var(--accent-text);
}

.products-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-text {
  color: var(--secondary-dark-text);
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

.products-price {
  font-weight: 600;
  line-height: 121%;
  border-radius: 100px;
  min-width: 94px;
  background: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1);
}/*# sourceMappingURL=main.css.map */