@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 100px;
        }
    
    .container--subscribe{
        margin-bottom: 0;
        padding: 72px 150px;
    }
}