@media screen and (min-width: 768px) {
.made__video{
    width: 614px;
}

.made__title{
    font-size: 24px;
    margin-bottom: 50px;
}

.made__card{
    padding: 32px;
}

.made__promotion{
    width: 350px;
    margin-bottom: 28px;
}

.made__list{
    padding-right: 70px;
}

.made-container{
    padding: 0 77px;
}
}