@media screen and (min-width: 768px) {
.subscribe__title{
width: 300px;
margin: auto;
margin-bottom: 24px;
padding: 0;
}

.subscribe__text{
    padding: 0;
}

.subscribe__button{
    padding: 14px 40px;
}
}