.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
margin-bottom: 14px;
position: relative;
}


.logo{
    display: flex;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.03em;

    align-items: center;

    &--normal{
        font-style: normal;
}
}

.logo__icon{
    margin-left: 4px;
}

.navigation__item{
    font-weight: 500;
    line-height: 114%;
    letter-spacing: -0.02em;
    align-items: center;
}

.button__icon{
stroke: black;
width: 100%;
height: 100%;
width: 28px;
height: 28px;
}

.button-menu{
    background-color: transparent;
    border: none;
    stroke: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

.button__close{

    position: absolute;
    display: none;
    stroke: white;

    &--active{
        display: block;
    }
}


.menu--content{
    width: 220px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1E1823;
    color: white;
    height: 100vh;

    &--active{
    display: block;
    }
}

header .navigation{
    margin-top: 136px;
    margin-left: 30px;
}

header .social{
    margin-top: auto;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}