.made__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    &--accent{
        color: var(--accent-text);
    }
}

.made__video{
    border-radius: 15px;
}


.made__promotion{
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
}


.made__text{
    letter-spacing: -0.02em;

    &::before{
        display: block;
        content: " ";
        width: 8px;
        height: 8px;
        background-color: #4C4C4C;
        border: 1px solid #ECEDED;
        border-radius: 8px;
    }
}

.made__card{
    background-color: white;
}
