.preference{
    background-color: rgba(30, 24, 35, 1);
}

.preference-general{
    display: none; 
}

.preference-list{
    color: var(--first-white-text);
}

.preference-text{
    color: rgba(255, 255, 255, 0.7);
    ;
}

.preference-icon{
    width: 64px;
    height: 64px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
}