.taste__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: auto;

    margin-bottom: 24px;
    width: 283px;

    &--accent{
        color: var(--accent-text);
    }
}

.taste__text{
    text-align: center;
    letter-spacing: -0.02em;

    margin-bottom: 32px;
}

.taste__item{
    position: relative;

    &:not(:last-child){
        margin-bottom: 20px;
    }

    &--white--second{
        @media screen and (max-width: 767px) {
        display: none;
        }
    }
}

.taste__name{
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--basic-title);

    
    position: absolute;
    bottom:28px;
    left: 28px;

    &--white{
        color: var(--basic-text);
    }

}
