@media screen and (min-width: 1200px) {
    .hero{
        background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../image/jpg/hero/desktop/chocolate1.jpg);
        padding: 381px 40px 40px 40px;
    }

    .hero-container{
        margin-bottom: 72px;
    }
}