@media screen and (min-width: 1200px) {
    .products__title{
        margin-bottom: 50px;
    }

    .products__item{
        margin-bottom: 0;
    }

    .products__list{
        margin-bottom: 32px;
    }
}