@media screen and (min-width: 1200px) {
    .taste__item{

        &--white--last{
            display: block;
        }

        &--white--second{
            display: none;
        }
    }

    .taste__list{
        gap: 19px;
        flex-wrap: nowrap;
        
    }

    .taste__card{
        padding: 20px;
    }

    .info__name{
        font-size: 10px;
        font-family: Montserrat;
        line-height: 12px;
    }
}